@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

@font-face {
  font-family: "あずきフォント";
  src: url(/resources/font/azuki.ttf) format("truetype");
}

body {
  font-family: "あずきフォント";
}

a:hover {
  text-decoration: unset;
}

input[type="color"] {
  cursor: pointer;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.f-warp {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-content-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.t-center {
  text-align: center;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.pc-none {
  display: none;
}

@media screen and (max-width: 768px) {
  .pc-none {
    display: block;
  }
}

.pc-flex-none {
  display: none;
}

@media screen and (max-width: 992px) {
  .pc-flex-none.lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .pc-flex-none.md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.lg-none {
  display: block;
}

@media screen and (max-width: 992px) {
  .lg-none {
    display: none;
  }
}

.tab-flex-none {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 992px) {
  .tab-flex-none {
    display: none;
  }
}

.sp-none {
  display: block;
}

@media screen and (max-width: 768px) {
  .sp-none {
    display: none;
  }
}

.sp-flex-none {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .sp-flex-none {
    display: none;
  }
}

[v-cloak] {
  display: none;
}

.v-btn:focus {
  outline: 0;
}

.arrow::after,
.arrow::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  content: "";
  vertical-align: middle;
}

.arrow::before {
  width: 30px;
  height: 1px;
  left: 83%;
  background: #fff;
  opacity: 1;
}

.arrow::after {
  left: 88.5%;
  width: 12px;
  height: 1px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -8px;
  opacity: 1;
}

.p-0 {
  padding: 0;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.vs-input--placeholder {
  top: -3px !important;
}

.vs-button {
  width: 110px !important;
}

#header {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.333s;
  transition: all 0.333s;
  height: 64px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

#header .navbar {
  background: #1c2938;
  height: 100%;
}

#header .navbar .navbar-start {
  font-size: 22px;
}

#header .navbar .navbar-brand {
  height: 100%;
}

#header .navbar .navbar-brand .navbar-burger i {
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

#header.top {
  height: 86px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#header.top .navbar-start {
  font-size: 22px;
}

#header.top button {
  font-size: 21px;
  -webkit-transition: all 0s;
  transition: all 0s;
}

#header #navbarBasicExample .navbar-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#header #navbarBasicExample a.navbar-item {
  color: #fff;
  -webkit-transition: all 0.333s;
  transition: all 0.333s;
}

#header #navbarBasicExample a.navbar-item:hover {
  color: #00c4a7;
  border-bottom: 2px solid #00c4a7;
}

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

